.create-project{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #787486;
    color: #787486;
    border-radius: 4px;
    padding: 0;
    width: 18px;
    height: 18px;
  }

  &__text {
    color: #787486;
    text-transform: uppercase;
    font-weight: 700;
  }
}
