.main {
  background: white;
  min-width: 1440px;
  height: 90dvh;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 250px 1190px;
}

.body {
  padding: 50px;
  overflow: auto;
  height: calc(90dvh - 88px);
}
