.header{
  padding: 22px 48px;
  width: 100%;
  height: 88px;
  border-left: 1px solid var(--p-content-border-color);
  border-bottom: 1px solid var(--p-content-border-color);
  min-width: 1190px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
