.header {
  padding: 22px 48px;
  width: 100%;
  height: 88px;
  border-bottom: 1px solid var(--p-content-border-color);
  min-width: 1190px;

  display: grid;
  grid-template-columns: 400px max-content;
  justify-content: space-between;
}

.header-info{
  display: flex;
  align-items: center;
  gap: 50px;
}
