.input{
  width: 100%;
  position: relative;
  display: grid;
  color: transparent;

  .p-component{
    padding-left: 55px;
    background: #f5f5f5;
    border: none;
    height: 44px;
    border-radius: 6px;

    &:focus {
      height: 44px;
      border: none;
      outline: none;
    }
  }
}

.input_icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
